data/images/
notebook/.ipynb_checkpoints/
notebook/__pycache__/
envs/
env/
.vscode/
*.draft
env/
**.pyc
**.code-workspace
model/
**.h5
models/
data/clean/
data/raw/
results/
notebook/config.py
streamlit/config.py