img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-scale-small {
    width: 200px; /* Définir la largeur de l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-scale-medium {
    width: 400px; /* Définir la largeur de l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-scale-large {
    width: 600px; /* Définir la largeur de l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.stTabs [data-baseweb="tab-list"] button [data-testid="stMarkdownContainer"] p {
font-size:4rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

